ytd-page-manager{
    background-image: linear-gradient(-135deg,black, rgb(75, 14, 7));
}

.yt-formatted-string{
    color: white;
}

#text.ytd-channel-name{
    color: white !important;
}

.meta-item.ytd-c4-tabbed-header-renderer{
    color: white !important;
}

#video-title.yt-simple-endpoint.ytd-grid-video-renderer{
    color: white !important;
}

#content.ytd-channel-tagline-renderer{
    color: white !important;
}

#video-title.ytd-reel-item-renderer{
    color: white !important;
}

.tab-title{
    color: white !important;
}

#title.ytd-shelf-renderer{
    color: white !important;
}

#title.ytd-reel-shelf-renderer{
    color: white !important;
}

#metadata-line.ytd-grid-video-renderer{
    color: white !important;
}

#video-title.ytd-rich-grid-media{
    color: white !important;
}

#author-text.yt-simple-endpoint.ytd-backstage-post-renderer{
    color: white !important;
}

#channel-header.ytd-c4-tabbed-header-renderer{
    background-image: linear-gradient(-135deg,black, rgb(39, 3, 10));
}

#tabs-inner-container.ytd-c4-tabbed-header-renderer{
    background-image: linear-gradient(-90deg,black, rgb(28, 2, 8));
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text{
    color: white;
}

.yt-spec-touch-feedback-shape--touch-response .yt-spec-touch-feedback-shape__fill{
    background-color: white  !important;
}

img.yt-img-shadow:hover {
    content: url("https://media.discordapp.net/attachments/761020322961948673/1091822289873535108/2023-03-31-20-18-58.gif?width=499&height=499");
  }